{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <form method="POST" action="/like">
            <input type="text" name="message_id" value="{{ message.id }}" style="display: none">
            <button class="btn" style="z-index: 10000000; position: relative">
              {% for liker in message.likers %}
                {% if g.user.id == liker.id %}
                  <i class="fas fa-star"></i>
                {% endif %}
              {% else %}
                <i class="far fa-star"></i>
              {% endfor%}
            </button>
          </form>
          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}